<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
      crossorigin='anonymous'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin='' />
    <link
      href='https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;500;600;700;800&amp;display=swap'
      rel='stylesheet'
    />
    <style>
      * { font-family: "Plus Jakarta Sans", sans-serif; } body { padding: 32px;
      } .logo { height: 32px; width: 103px; } .text-low { color: #64748b; }
      .text-brand { color: #6e7859; } @media print { .pagebreak {
      page-break-inside: avoid; } /* page-break-after works, as well */ }
    </style>
    <title>{{code}}</title>
  </head>
  <body id='body' onload='download()'>
    <div class='d-flex flex-column gap-4'>
      <div class='px-0'>
        <div class='row'>
          <div class='col-8'>
            <div class='d-flex flex-column text-low'>
              <p>Number : {{code}}</p>
              <p>Date : {{dateLocalFormat created_at}}</p>
            </div>
          </div>
        </div>
        <div class='row py-4 border' style='border-radius: 15px'>
          <div class='col-12'>
            <div class='d-flex flex-column text-low'>
              <p class='fw-bold'>Destination</p>
              <p class='text-foundation-brand'>{{destination.company_name}}</p>
              <p>{{destination.company_address}}</p>
              <p>{{destination.company_phone_number}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class='row-cols-auto gap-6 max-width'>
        <p class='fs-3 fw-bold text-dark'>List Item</p>
        <table class='w-100'>
          <thead>
            <tr class='fw-bold text-dark'>
              <th width='{20}' style='width: 30px' class='p-4 border-end'>
                Number
              </th>
              <th class='max-width p-4 border-end'>Article/Style</th>
              <th width='{170}' class='max-width p-4 border-end'>Variant</th>
              <th width='{170}' class='max-width p-4 border-end'>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {{#each detail}}
              <tr class='fw-medium text-dark'>
                <td class='p-4 align-top border-top border-end'>
                  <p>{{incremented @index}}</p>
                </td>
                <td class='p-4 align-top border-top border-end'>
                  <p>{{style_name}}</p>
                </td>
                <td class='p-4 align-top border-top border-end'>
                  <p>{{variant_name}}</p>
                </td>
                <td class='p-4 align-top border-top border-end'>
                  <p>{{total_item}}</p>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <div
          class='fs-5 fw-bold text-dark w-full d-flex justify-content-between p-3 align-items-center'
          style='background: #f9f9f8'
        >
          <div>Grand total</div>
          <div>{{grand_total}}</div>
        </div>
      </div>
    </div>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js'
      integrity='sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <script>
      async function download() { var element = document.getElementById("body");
      const pdfOptions = { margin: 0, filename: "delivery-note-{{code}}.pdf",
      image: { type: "jpeg", quality: 0.98 }, html2canvas: { scale: 2 }, jsPDF:
      { unit: "mm", format: "a4", orientation: "landscape" }, pagebreak: { mode:
      "avoid-all", before: "#page-break-row" }, }; await
      html2pdf().from(element).set(pdfOptions).save(); }
    </script>
  </body>
</html>